:root {
  --text-color-dashboard-and-buttons: white;
  --background-color-dashboard-and-buttons: rgb(0, 191, 255);
  --background-color-header-and-cards: whitesmoke;
  --background-color-main-content: rgb(194, 207, 219);
  --gap-header: 16px;
  --font-size-dashboard: 1.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 4fr;
  height: 100vh;
}

.grid-subsection {
  border: 1px solid black;
}

.header {
  background-color: var(--background-color-header-and-cards);
  grid-area: 1/2/2/3;
  display: grid;
  grid-template-rows: 1fr 2fr;
  padding: 0px 32px;
  /* box-shadow: 2px 2px 3px grey; */
}

.header > .searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header > .searchbar > .search,
.header > .searchbar > .user-info {
  display: flex;
  gap: var(--gap-header);
}

.header > .creator {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header > .creator > .user-handle {
  display: flex;
  align-items: center;
  gap: var(--gap-header);
}

.header > .creator > .creator-buttons {
  display: flex;
  gap: var(--gap-header);
}

.header > .creator > .creator-buttons > .creator-button {
  background-color: var(--background-color-dashboard-and-buttons);
  color: var(--text-color-dashboard-and-buttons);
}

.dashboard {
  background-color: var(--background-color-dashboard-and-buttons);
  color: var(--text-color-dashboard-and-buttons);
  grid-area: 1/1/3/2;
  padding: 8px 32px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  font-size: var(--font-size-dashboard);
}

.dashboard > .links,
.dashboard > .settings {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.main-content {
  background-color: var(--background-color-main-content);
  grid-area: 2/2/3/3;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 16px;
}

.main-content > .projects > .project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 24px;
}

.main-content > .projects > .project-grid > .project {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-header-and-cards);
  border-left: 4px solid orange;
}

.main-content > .projects > .project-grid > .project > .project-buttons {
  display: flex;
  justify-content: end;
}

.main-content > .projects {
  grid-area: 1/1/3/2;
}

.main-content > .announcements {
  display: flex;
  flex-direction: column;
}

.main-content > .announcements > .announcements-flex {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-header-and-cards);
  padding: 16px;
  gap: 8px;
  flex: 1;
}

.main-content > .announcements > .announcements-flex > .announcement {
  border: 2px solid green;
  flex: 1;
}

.announcement + .announcement {
  border-top: 2px solid grey;
}

.trending {
  display: flex;
  flex-direction: column;
}

.trending > .trending-flex {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-header-and-cards);
  padding: 16px;
  gap: 8px;
  flex: 1;
}

.trending > .trending-flex > .trend {
  display: flex;
  align-items: center;
  border: 2px solid green;
  gap: 12px;
  flex: 1;
}
