:root {
  --text-color-dashboard-and-buttons: white;
  --text-color-subtext: rgb(108, 120, 134);
  --background-color-dashboard-and-buttons: rgb(0, 191, 255);
  --background-color-header-and-cards: whitesmoke;
  --background-color-main-content: rgb(194, 207, 219);
  --hover-background-color-dashboard-and-buttons: rgb(0, 149, 199);
  --gap-header: 24px;
  --gap-main-content: 24px;
  --font-size-dashboard: 1.2rem;
  --font-size-subtext: 0.8rem;
  --font-size-large-text: 1.2rem;
  --image-width-svg: 20px;
  --image-width-profile-picture: 50px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p {
  text-wrap-style: balance;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 4fr;
  height: 100vh;
}

.grid-subsection {
  /* show borders for major components */
  /* border: 1px solid black; */
}

.header {
  background-color: var(--background-color-header-and-cards);
  grid-area: 1/2/2/3;
  display: grid;
  grid-template-rows: 1fr 2fr;
  padding: 0px 48px;
  padding-top: 16px;
  box-shadow: 2px 2px 3px grey;
  z-index: 1;
}

.header > .searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header > .searchbar > .search,
.header > .searchbar > .user-info {
  display: flex;
  gap: var(--gap-header);
  flex: 1;
  align-items: center;
}

.header > .searchbar > .user-info {
  justify-content: end;
}

.header > .searchbar > div > div > a > img {
  min-width: var(--image-width-svg);
}

.header > .searchbar > .search > input[type="text"] {
  background-color: var(--background-color-main-content);
  border: none;
  border-radius: 20px;
  flex: 1;
  padding: 4px;
  min-width: 100px;
  max-width: 400px;
  /* better align cursor with input box */
  padding-left: 10px;
}

.header > .searchbar > div > .profile-image-wrapper {
  height: var(--image-width-profile-picture);
  width: var(--image-width-profile-picture);
}

.header > .creator > .user-handle > .profile-image-wrapper {
  height: calc(1.5 * var(--image-width-profile-picture));
  width: calc(1.5 * var(--image-width-profile-picture));
}

.profile-image-wrapper {
  border: 1px solid black;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header > .creator {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header > .creator > .user-handle {
  display: flex;
  align-items: center;
  gap: var(--gap-header);
}

.header > .creator > .creator-buttons {
  display: flex;
  gap: var(--gap-header);
}

.header > .creator > .creator-buttons > .creator-button {
  background-color: var(--background-color-dashboard-and-buttons);
  color: var(--text-color-dashboard-and-buttons);
  padding: 8px 24px;
  border-radius: 20px;
  border: none;
}

.header > .creator > .creator-buttons > .creator-button:hover {
  background-color: var(--hover-background-color-dashboard-and-buttons);
  cursor: pointer;
}

.dashboard {
  background-color: var(--background-color-dashboard-and-buttons);
  color: var(--text-color-dashboard-and-buttons);
  grid-area: 1/1/3/2;
  padding: 8px 32px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  font-size: var(--font-size-dashboard);
}

.dashboard > .links,
.dashboard > .settings {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.dashboard > .links > .icon-text-pair:hover,
.dashboard > .settings > .icon-text-pair:hover {
  background-color: var(--hover-background-color-dashboard-and-buttons);
}

.dashboard > div > .icon-text-pair {
  display: flex;
  align-items: center;
  gap: 12px;
}

.dashboard > div > .icon-text-pair > div > img {
  /* width: var(--image-width-svg); */
  min-width: var(--image-width-svg);
  /* change color of svg from black to white by inverting */
  filter: invert();
}

.dashboard > .dash > .icon-text-pair > p {
  font-size: calc(1.3 * var(--font-size-dashboard));
}

.main-content {
  background-color: var(--background-color-main-content);
  grid-area: 2/2/3/3;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 16px;
  gap: var(--gap-main-content);
}

.project,
.announcements-flex,
.trending-flex {
  border-radius: 10px;
  box-shadow: 2px 2px 3px grey;
}

.projects,
.announcements,
.trending {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.main-content > .projects > .project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  justify-content: space-evenly;
  gap: var(--gap-main-content);
}

.main-content > .projects > .project-grid > .project {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-header-and-cards);
  border-left: 4px solid purple;
  padding: 16px;
  justify-content: space-between;
  height: 200px;
}

.main-content > .projects > .project-grid > .project > div > .project-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

.main-content > .projects > .project-grid > .project > .project-links {
  display: flex;
  justify-content: end;
  gap: 8px;
  height: 24px;
}

.main-content > .projects > .project-grid > .project > .project-links > a > img {
  width: var(--image-width-svg);
}

.main-content > .projects {
  grid-area: 1/1/3/2;
}

.main-content > .announcements {
  display: flex;
  flex-direction: column;
}

.main-content > .announcements > .announcements-flex {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-header-and-cards);
  padding: 16px;
  gap: 8px;
  flex: 1;
}

.main-content > .announcements > .announcements-flex > .announcement {
  /* border: 2px solid green; */
  flex: 1;
}

.main-content > .announcements > .announcements-flex > .announcement > .announcement-text {
  /* limit subtext shown to 3 lines in announcements */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.announcement + .announcement {
  border-top: 2px solid grey;
}

.trending {
  display: flex;
  flex-direction: column;
}

.trending > .trending-flex {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-header-and-cards);
  padding: 16px;
  gap: 8px;
  flex: 1;
}

.trending > .trending-flex > .trend {
  display: flex;
  align-items: center;
  gap: 12px;
  flex: 1;
}

.trending > .trending-flex > .trend > .profile-image-wrapper {
  height: var(--image-width-profile-picture);
  width: var(--image-width-profile-picture);
}

/* miscellaneous text changes */

.subtext {
  color: var(--text-color-subtext);
  font-size: var(--font-size-subtext);
}

.bold {
  font-weight: bold;
}

.large-text {
  font-size: var(--font-size-large-text);
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a.icon-text-pair {
  color: var(--text-color-dashboard-and-buttons);
}
